.wholePageContainer {
    display: flex;
    flex-direction: row;
}

.noteWrite{
    height: 400px;
}

.newNoteContainerHW {
    margin-left: 25%;
    width: 50%;
}

.newNoteContainerHW button {
    font-weight: bolder;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #fefefe;
    padding: 20px;
    margin-top: 20px;
}

.newNoteContainerHW button:hover {
    background-color: #e2e2e2;
}

.homeworkWrite{
    border: 2px solid #cccc;
    border-radius: 5px;
    margin-top: 10px;
}

.newNoteContainerHW h2 {
    border-bottom: 1px solid black;
    outline: none;

}

.newNoteContainerHW input {
    outline: none;
}

.inputFieldHW{
    outline: none;
    border: none;
    width: 90%;
}