.wholePageContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.homeworkViewContainer {
    font-size: 30px;
    height: 100%;
}

#homeworkViewer {
    width: 100%;
    margin-left: 0px;
    font-size: 20px;
    height: 100%;
    border: none;
    border-top: 2px solid #f18800;
    border-bottom: none;
    border: 2px solid #f18800;
    overflow-y: auto;
}

#homeworkViewer:focus {
    outline: none;
}

.newHomeworkContainer {
    margin-left: 25%;
    width: 50%;
}

.newHomeworkContainer h2 {
    border-bottom: 1px solid black;
}

#newAssignmentBtn {
    padding: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    text-align: center;
    background-color: #fefefe;
    border: 2px solid #ccc;
    border-radius: 5px;
}

#newAssignmentBtn:hover {
    background-color: #e2e2e2;
}

.buttonContainer button {
    font-size: 20px;
    font-weight: bolder;
    outline: none;
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #fefefe;
    margin-right: 5px;
    width: 100%;
    height: 50px;
    text-align: left;
}

.buttonContainer button:hover {
    background-color: #e2e2e2;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
}

.buttonContainer h6 {
    font-size: 15px;
    font-weight: 300;
    text-align: left;
}

.buttonContainer p {
    font-size: 5px;
}
