.wholePageContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.homeworkContainer {
  margin-top: 50px;
  margin-left: 20%;
  width: 65%;
}
.homeworkHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}
#newAssignmentBtn {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 18px;
  margin-bottom: 5px;
  margin-left: 15px;
  font-weight: 600;
  outline: none;
  text-align: center;
  background-color: #fefefe;
  border: 2px solid #ccc;
  border-radius: 5px;
  height: 30px;
}
#newAssignmentBtn:hover {
  background-color: #e2e2e2;
  cursor: pointer;
}
.newHomework {
  margin-bottom: 10px;
}
.newAssignment {
  display: flex;
  outline: none;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #fefefe;
  margin-right: 5px;
  width: 100%;
  min-height: 50px;
  height: auto;
  text-align: left;
}
.newAssignment:hover {
  background-color: #e2e2e2;
}
.newAssignment:hover .homeworkRemoveBtn {
  display: block;
}
.assignmentLayout {
  width: 100%;
}
.courseName {
  font-size: 20px;
  font-weight: bold;
  width: 20%;
}
.homeworkText {
  font-size: 14px;
  font-weight: 300;
  width: 60%;
}
.homeworkDeadline {
  font-size: 14px;
  font-weight: bold;
  width: 15%;
  text-align: center;
}
.homeworkImportant {
  color: red;
  text-align: center;
  width: 20%;
}
.homeworkRemoveBtn {
  display: none;
  background-color: #fefefe00;
  border: none;
  cursor: pointer;
  align-items: flex-end;
}
.newHomework {
  display: flex;
  flex-direction: row;
}
.newNoteContainerHW {
  width: 50%;
  margin-bottom: 30px;
}
.newNoteContainerHW button {
  font-weight: bolder;
  font-size: 15px;
  outline: none;
  cursor: pointer;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #fefefe;
  padding: 10px;
  margin-top: 20px;
}
.newNoteContainerHW button:hover {
  background-color: #e2e2e2;
}
.homeworkWrite {
  border: 2px solid #cccc;
  border-radius: 5px;
  margin-top: 10px;
}
.newNoteContainerHW h2 {
  border-bottom: 1px solid black;
  outline: none;
}
.newNoteContainerHW input {
  outline: none;
}
.inputFieldHW {
  outline: none;
  border: none;
  width: 90%;
}
.dateInput {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 16px;
  margin-left: 5px;
  width: 24%;
}
#borderForAssignment {
  width: 200%;
  border-bottom: 1px solid black;
}
#borderForAssignment button {
  margin-bottom: 15px;
}
