.wholePageContainer {
    display: flex;
    flex-direction: row;
}
.newNoteContainer {
    margin-top: 50px;
    margin-left: 20%;
    width: 65%;
}
.courseHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#removeCourse {
	font-family: "PT Sans Narrow", sans-serif;
	font-size: 18px;
	font-weight: 600;
	outline: none;
	text-align: center;
	background-color: #fefefe;
	border: 2px solid #ccc;
	border-radius: 5px;
	height: 35px;
}
#removeCourse:hover {
	background-color: #e2e2e2;
	cursor: pointer;
}
.newNoteContainer h2 {
  	border-bottom: 1px solid black;
}
.noteHolder {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#addNewNote {
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	align-items: center;
	outline: none;
	cursor: pointer;
	border: 2px solid #939393;
	border-radius: 5px;
	background-color: #fefefe;
	margin-right: 5px;
	width: 200px;
	height: 200px;
}
#addNewNote:hover {
	background-color: #e2e2e2;
}
.newNote {
	font-size: 20px;
	text-align: center;
	outline: none;
	border: 2px solid #939393;
	border-radius: 5px;
	background-color: #fefefe;
	margin-right: 5px;
	width: 181px;
	height: 196px;
	max-width: 191px;
	max-height: 196px;
	padding-left: 10px;
	padding-right: 10px;
}
.noteBtn {
	width: 100%;
}
.newNote button {
	display: none;
	background-color: #e2e2e2;
	border: none;
	cursor: pointer;
	color: #f18800;
	margin: 10px;
}
.newNote:hover{
  	background-color: #e2e2e2;
}
.newNote:hover button{
	display: inline-block;
}
.newNote h1 {
  	font-size: 22px;
}
.newNote p {
	font-size: 15px;
	color: #b3b3b3;
	font-weight: 200;
	text-align: left;
}