.wholePageContainer {
    display: flex;
    flex-direction: row;
}

.newNoteContainer {
    margin-left: 25%;
    width: 60%;
}

.newNoteContainer h2 {
    border-bottom: 1px solid black;
}

.newNoteContainer button {
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    outline: none;
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 30px;
    background-color: #fefefe;
    margin-right: 5px;
    width: 200px;
    height: 200px;
    }

.newNoteContainer button:hover {
    background-color: #e2e2e2;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.buttonContainer p {
    font-size: 15px;
    color: #b3b3b3;
    font-weight: 200;
    text-align: left;
}

.buttonContainer h6 {
    font-size: 15px;
    font-weight: 300;
    text-align: left;
}
