.sideDisplayContainer {
    background-color: #fefefe;
    width: 14%;
    align-items: center;
    position: fixed;
    border: 2px solid #f18800;
    border-top: none;
    height: 100%;
}

.sideDisplayContainer h1 {
    color: black;
    font-size: 22px;
    text-align: left;
    margin-left: 3px;
}

.sideMenuList {
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-family: 'PT Sans Narrow', sans-serif;
    overflow-y: scroll;
    overflow-y: auto;
    height: 790px;
    border: none;
    border-top: 2px solid #f18800;
}

ul, .sideMenuList {
    list-style-type: none;
}

.sideMenuList {
    margin: 0;
    padding: 0;
}

.caret {
    cursor: pointer;
    user-select: none;
}

.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.caret-down::before {
    transform: rotate(90deg);
}

.nested {
    display: none;
}

.active {
    display: block;
}

