#pageContainer {
  margin-top: 50px;
}
.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.infoContainer h1 {
  border-bottom: 2px solid #8d8d8d;
  width: 50%;
}
.infoContainer p {
  font-size: 18px;
  width: 50%;
}
.userInfoHeaders{
  font-weight: 400;
  font-size: 22px;
  width: 50%;
  table-layout: fixed;
}
.userInfoHeaders td:nth-child(1) {
  width: 20%;
}
.userInfoHeaders button {
  margin-left: -40%;
  font-size: 18px;
  background-color:#fefefe ;
  border-radius: 5px;
  border: 1px solid #8d8d8d;
  outline: none
}
.userInfoHeaders button:hover {
  background-color: #ccc;
  cursor: pointer;
}
input{
  outline: none;
  width: 50%;
  margin-top: 1px;
  margin-bottom: 1px;
  font-size: 14px;
}
#passwordChange {
  display: flex;
  flex-direction: column;
}