body {
    font-family: "PT Sans Narrow", sans-serif;
    margin: auto;
    overflow-x: hidden;
}
.headerCont{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #f18800;
}
#testi{

    margin-top: 4000px;
}
.headerButtons{
    color: #fefefe;
    background-color: #f18800;
    border: 0px;
    font-weight: 600;
    font-size: 22px;
    outline: none;
    cursor: pointer;
}
.headerButtons:hover{
    text-decoration: underline;
}
.userCont{
    display: flex;
}
.userButtons{
    color: #fefefe;
    background-color: #f18800;
    border: 0px;
    font-weight: 600;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    text-align: left;
}
.userLogo{
    height: 36px;
    width: 36px;
}
.wholePageContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sideDisplayContainer{
    background-color: #fefefe;
    width: 15%;
    align-items: center;
    position: fixed;
    border: 2px solid #f18800;
    border-top: none;
    height: 100%;
    position:static;
}
.sideDisplayContainer h1{
    color: black;
    margin-left: 10%;
}
.sideDisplayContainer button{
    font-size: 40px;
    text-align: center;
    margin-left: 40%;
    margin-top: 5px;
    outline: none;
    background-color: #fefefe;
    color: #f18800;
    border: none;
    border-radius: 5px;
}
.sideDisplayContainer button:hover{
    font-size: 40px;
    text-align: center;
    margin-left: 40%;
    margin-top: 5px;
    outline: none;
    color: #fefefe;
    background-color: #f18800;
    cursor: pointer
}
.noteViewContainer{
    font-size: 30px;
    height: 100%;
}
#noteViewer{
    width: 100%;
    margin-left: 0px;
    font-size: 20px;
    height: 100%;
    border-bottom: none;
border: none;
}
#noteViewer:focus{
    outline: none;
}
.newNoteContainer{
    margin-left: 25%;
    width: 50%;
}
.newNoteContainer h2{
    border-bottom: 1px solid black;
}
.newNoteContainer button{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    outline: none;
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 30px;
    background-color: #fefefe;
    margin-right: 5px;
    width: 200px;
    height: 200px;
}
.newNoteContainer button:hover{
    background-color: #e2e2e2;
}
.buttonContainer{
    display: flex;
    flex-direction: row;
    width: 50%;
}
.buttonContainer p {
    font-size: 15px;
    color: #b3b3b3;
    font-weight: 200;
    text-align: left;
}
.buttonContainer h6 {
    font-size: 15px;
    font-weight: 300;
    text-align: left;
}
