body {
    font-family: "PT Sans Narrow", sans-serif;
    margin: auto;
    overflow-x: hidden;
}
.headerCont{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #f18800;
}
.headerButtons{
    color: #fefefe;
    background-color: #f18800;
    border: 0px;
    font-weight: 600;
    font-size: 22px;
    outline: none;
    cursor: pointer;
}
.headerButtons:hover{
    text-decoration: underline;
}
.userCont{
    display: flex;
}
.userButtons{
    color: #fefefe;
    background-color: #f18800;
    border: 0px;
    font-weight: 600;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    text-align: left;
}
.userLogo{
    height: 36px;
    width: 36px;
}
.wholePageContainerWork{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sideDisplayContainerWork{
    background-color: #fefefe;
    width: 15%;
    align-items: center;
    position: fixed;
    border: 2px solid #f18800;
    border-top: none;
    height: 100%;
}
.sideDisplayContainerWork h1{
    color: black;
    margin-left: 10%;
}
.sideDisplayContainerWork button{
    font-size: 40px;
    text-align: center;
    margin-left: 40%;
    margin-top: 5px;
    outline: none;
    background-color: #fefefe;
    color: #f18800;
    border: none;
    border-radius: 5px;
}
.sideDisplayContainerWork button:hover{
    font-size: 40px;
    text-align: center;
    margin-left: 40%;
    margin-top: 5px;
    outline: none;
    color: #fefefe;
    background-color: #f18800;
    cursor: pointer
}
.homeworkViewContainer{
    font-size: 30px;
    height: 100%;
}
#homeworkViewer{
    width: 100%;
    margin-left: 0px;
    font-size: 20px;
    height: 100%;
    border-bottom: none;
    border: 2px solid #f18800;
}
#homeworkViewer:focus{
    outline: none;
}
.newHomeworkContainer{
    margin-left: 25%;
    width: 50%;
}
.newHomeworkContainer h2{
    border-bottom: 1px solid black;
}
#newAssignmentBtn{
    padding: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    text-align: center;
    background-color: #fefefe;
    border: 2px solid #ccc;
    border-radius: 5px;
}
#newAssignmentBtn:hover {
    background-color: #e2e2e2;
}
.buttonContainerWork button{
    font-size: 20px;
    font-weight: bolder;
    outline: none;
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #fefefe;
    margin-right: 5px;
    width: 100%;
    height: 50px;
    text-align: left;
}
.buttonContainerWork button:hover{
    background-color: #e2e2e2;
}
.buttonContainerWork{
    display: flex;
    flex-direction: row;
}
.buttonContainerWork h6 {
    font-size: 15px;
    font-weight: 300;
    text-align: left;
}
.buttonContainerWork p {
    font-size: 5px;
}
